n8n/workflow.json
{
  "name": "Deep Research Agent — Query Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cache-check",
              "leftValue": "={{ $json.body.query }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists" }
            }
          ]
        }
      },
      "id": "validate-1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "route-check",
              "leftValue": "={{ /\\b(cursor|copilot|github copilot|windsurf|tabnine|cody|continue|devin|aider|cline|ide|editor|vscode|vs code|coding assistant|ai coding|code completion|autocomplete|developer tools|dev tools|pricing|subscription|license)\\b/i.test($('Webhook').item.json.body.query) ? 'research' : 'general' }}",
              "rightValue": "research",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "switch-1",
      "name": "Route Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/research",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Webhook').item.json.body.query }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "research-1",
      "name": "Research Pipeline (RAG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are a helpful assistant. Answer the user question directly and concisely. This question is outside the scope of our AI developer tooling knowledge base, so answer from your general knowledge.' }, { role: 'user', content: $('Webhook').item.json.body.query }], temperature: 0.3, max_tokens: 1024 }) }}",
        "options": {}
      },
      "id": "general-1",
      "name": "Direct GPT (General)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1020, 420]
    },
    {
      "parameters": {
        "jsCode": "const input = items?.[0]?.json ?? {};\n\n// If this came from the research pipeline, it's already in the desired schema.\nif (typeof input.answer === 'string' && Array.isArray(input.sub_questions) && input.budget_report) {\n  return { json: input };\n}\n\n// Otherwise, treat it as an OpenAI Chat Completions response from Direct GPT.\nconst answer = input.choices?.[0]?.message?.content || input.message?.content || 'No answer';\nreturn {\n  json: {\n    answer,\n    sub_questions: [],\n    sections: [],\n    key_insights: [],\n    limitations: ['Answered from general knowledge - not from research corpus'],\n    sources_used: [],\n    budget_report: { note: 'No research pipeline used - direct GPT response' },\n    memory_state: {},\n    elapsed_seconds: 0\n  }\n};"
      },
      "id": "format-1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Missing query field in request body' }) }}"
      },
      "id": "error-1",
      "name": "Missing Query Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [620, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Route Decision", "type": "main", "index": 0 }],
        [{ "node": "Missing Query Error", "type": "main", "index": 0 }]
      ]
    },
    "Route Decision": {
      "main": [
        [{ "node": "Research Pipeline (RAG)", "type": "main", "index": 0 }],
        [{ "node": "Direct GPT (General)", "type": "main", "index": 0 }]
      ]
    },
    "Research Pipeline (RAG)": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Direct GPT (General)": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "deep-research-agent" }
  ]
}
